<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Admin Theme CSS and main.js -->
    <link rel="stylesheet" href="../css/theme-dark.css">
    <link rel="stylesheet" href="../css/theme-light.css">
    <script src="../js/main.js"></script>
  </head>
  <body>
    {{ header }}
    <main role="main">
      <div class="container">
        {{ content }}
      </div>
    </main>
    {{ footer }}
  </body>
</html>
